<div class = "container">
  <% if user_signed_in? %>
    <%= render partial: "form" %>
  <% end %>   
    <hr>
    <br>
    <table class="table table-striped">
      <tbody>
        <% @questions.each do |question| %>
          <%= render partial: "shared/question_template", locals: {question: question} %>
        <% end %>
      </tbody>
    </table>

</div>
