

  <section id="quick_question_form">
    <div class ="container">
      <% if user_signed_in? %>
        <h4><%= "What's your question?" %></h4>
        <%= render partial: "form" %>
      <% else %>
      <h4><%= "You need to login to ask questions." %></h4>
      <% end %>
    </div>
  </section>

<div class = "container">

        <% @questions.each do |question| %>
          <%= render partial: "shared/question_template", locals: {question: question} %>
        <% end %>

</div>
