

  <section id="quick_question_form">
    <div class ="container">
    <%= render partial: "form" %>
    </div>
  </section>

<div class = "container">

        <% @questions.each do |question| %>
          <%= render partial: "shared/question_template", locals: {question: question} %>
        <% end %>

</div>
